:root {
	--anim: 0.15s pop-in;
}

#message {
	animation: var(--anim); 
}

#user-context {
	animation: var(--anim); 
}

#guild-context {
	animation: var(--anim); 
}

#channel-context {
	animation: var(--anim); 
}

@keyframes pop-in {
	from {transform: translateY(-10%); opacity: 0; transform: scale(0.0);}
	to {transform: translateY(0%); opacity: 1; transform: scale(1.0);}
}